node_modules
.env
.env.local
dist
*.local
.vercel

# Capacitor
android/app/build
android/build
android/.gradle
android/local.properties
android/capacitor-cordova-android-plugins/build
ios/App/build
ios/App/Pods
ios/App/App/public
