.loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0d0d0d;
  z-index: 9999;
}

.pulsating-logo {
  height: 65px;
  filter: brightness(0) invert(1);
  animation: opacityPulse 1.5s ease-in-out infinite;
}

@keyframes opacityPulse {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}
